extends ../layouts/layout

block content
  form(action='/signup', method='POST', role='form')
    legend Signup
    .form-group
      label(for='username') Username
      input.form-control(type='text', placeholder='Enter Username', name='username')
      br
      label(for='password') Password
      input.form-control(type='password', placeholder='Enter Password', name='password')
    button.btn.btn-primary(type='submit') Submit 
