extends ../layouts/layout

block content
  form.form-horizontal(action='', method='POST', role='form')
    .form-group
      legend Add Inventory Item
      | 
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-6
        input(type="text", name="name", id="name", title="Inventory Name").form-control
    .form-group
      label.col-sm-2.control-label(for='qty') Quantity
      .col-sm-6
        input(type="number", name="qty", id="qty", title="Inventory Name").form-control
    .form-group
      label.col-sm-2.control-label(for='value') Value
      .col-sm-6
        input(type="text", name="value", id="value", title="Inventory Name").form-control
    hr  
    .col-sm-10.col-sm-offset-2
      button.btn.btn-primary(type='submit') Submit