doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // bower:css
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
  body
    div.container
        block content

    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    script(src="//localhost:35729/livereload.js")