nav.navbar.navbar-inverse
  a(href="/").navbar-brand= (title == null) ? "Leo 8" : "Leo 8 | " + title
  ul.nav.navbar-nav.pull-right
    if (user)
      li.active
        a(href='/profile', title='Click here to go to your profile') Logged in as #{user.name}
      li
        a(href="/logout") Logout
    else 
      li.active
        a(href='/') Home